<% content_for :title do %>
  All Contacts
<% end %>

<% @@rolodex.contacts.each do |contact| %>
  <p><strong>ID:</strong> <%= contact.id %></p>
  <p><strong>Name:</strong> <%= contact.first_name %> <%= contact.last_name %></p>
  <p><strong>Email:</strong> <%= contact.email %></p>
  <p><strong>Notes:</strong> <%= contact.notes %></p>
  <p>Contact created on <%= contact.time_created %></p>
  <p>----------</p>
<% end %>
  <p><img src="http://rack.3.mshcdn.com/media/ZgkyMDEzLzA4LzA1L2U1L2NvbGJlcnRyZXBvLjVjNmYxLmdpZgpwCXRodW1iCTg1MHg1OTA-CmUJanBn/710824a0/764/colbert-report.jpg" /></p>
