<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title><%= @contacts_page_title %> </title>
    <h1 id = "center">All Contacts</h1>
  </head>

  <body>
    <% @contacts.each do |contact| %>
      <p><strong>Name:</strong> <%= contact.first_name %> <%= contact.last_name %></p>
      <p><strong>Email:</strong> <%= contact.email %></p>
      <p><strong>Job Description:</strong> <%= contact.job_description %></p>
      <p><strong>Notes:</strong> <%= contact.notes %></p>
      <p>----------</p>
    <% end %>
  </body>
</html>