<% content_for :title do %>
  Edit Contact
<% end %>


<form action="/contacts/<%= @contact.id %>" method="post" class="basic_box">
  <fieldset>
    <input type="hidden" name="_method" value="put">
    <div class="show_legend">
      <legend>Edit ID: <%= @contact.id %></legend>
    </div>

    <div id="first_name">
      <label for="first_name">First Name: </label>
      <br>
      <input type="text" id="first_name_input" name="first_name" value="<%= @contact.first_name %>">
    </div>

    <div id="last_name">
      <label for="last_name">Last Name: </label>
      <br>
      <input type="text" id="last_name_input" name="last_name" value="<%= @contact.last_name %>">
    </div>

    <div id="email">
      <label for="email">Email: </label>
      <br>
      <input type="text" id="email_input" name="email" value="<%= @contact.email %>">
    </div>    

    <div id="notes">
      <label for="notes">Notes: </label>
      <br>
      <input type="text" id="notes_input" name="notes" value="<%= @contact.notes %>">
    </div>

    <div id="time_created">
      <label for="email">Created: </label>
      <br>
      <p id="time_created_input"><%= @contact.time_created %></p>
    </div> 
   
    <div id="new_contact_btns">
      <input type="submit" name="Submit" value="Save Changes">
    </div>
  </fieldset>
</form>
  