<% content_for :title do %>
  Displaying Contact
<% end %>

<p><strong>ID:</strong> <%= @contact.id %></p>
<p><strong>Name:</strong> <%= @contact.first_name %> <%= @contact.last_name %></p>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Notes:</strong> <%= @contact.notes %></p>

<form action="/contacts/<%= @contact.id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="delete contact" value="Delete Contact">
</form>

<form action="/contacts/<%= @contact.id %>/edit" method="GET">
  <input type="submit" name="edit contact" value="Edit Contact">
</form>
