<% content_for :title do %>
  Displaying Contact
<% end %>

<form class = "basic_box">
  <fieldset>
    <div class="legend">
      <legend>ID: <%= @contact.id %></legend>
    </div>

    <div class="show_name">
      <strong>Name:</strong> <%= @contact.first_name %> <%= @contact.last_name %>
    </div>

    <div class="show_email">
      Email: <%= @contact.email %>
    </div>

    <div class="show_notes">
      Notes: <%= @contact.notes %>
    </div>
  </fieldset>
</form>

<form class="delete_contact_btn" action="/contacts/<%= @contact.id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="delete contact" value="Delete Contact">
</form>

<form class="edit_contact_btn" action="/contacts/<%= @contact.id %>/edit" method="GET">
  <input type="submit" name="edit contact" value="Edit Contact">
</form>
